.card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}


.topic {
    padding: 16px;
    background-color: rgba(50, 115, 220, 0.3);
    border-color: rgb(82 82 91);
}

.even-row {
    background-color: lightgray; /* สีพื้นหลังสำหรับแถวที่เป็นเลขคู่ */
}

.odd-row {
    background-color: green;
    opacity: 0.3; /* สีพื้นหลังสำหรับแถวที่เป็นเลขคี่ */
}

.sub2-row1 {
    background-color: rgb(239, 245, 239);
    opacity: 0.8; /* สีพื้นหลังสำหรับแถวที่เป็นเลขคี่ */
    margin: auto;
}

.card-title {
    font-size: 12px;
}
