<app-navbar></app-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">

    <div class="content-wrapper">
        <div class="row">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                routerLinkActive="router-link-active">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/meeting-save']"
                                routerLinkActive="router-link-active">บันทึกมติการประชุม</a></li>
                        <li class="breadcrumb-item active">{{meeting.open_title}} ครั้งที่ {{meeting.meeting_thetime}}
                        </li>
                    </ol>
                </nav>
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h5 class="font-weight-bold">วาระการประชุม</h5>
                            <br>
                            <h6 class="font-weight-normal mb-0"><strong>เรื่อง:</strong> {{meeting.open_title}} ครั้งที่
                                {{meeting.meeting_thetime}}</h6>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="add-items d-flex mb-0 mt-2">
                                    <button *ngIf="meeting.meeting_rstatus == '1' || meeting.meeting_rstatus == '2' || meeting.meeting_rstatus == '3'" class="btn btn-warning" (click)="confirmOpenMeeting(meeting.meeting_code)">ยืนยันเปิดบันทึกการประชุม</button>
                                    <span *ngIf="meeting.meeting_rstatus == '4'" class="badge badge-light"><i class="mdi mdi-check"></i>เปิดบันทึกการประชุมแล้ว</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="meeting.meeting_rstatus == '4'">
                <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- <p class="card-title mb-0">ข้อเสนอวาระการประชุม</p> -->
                            <br />

                            <!-- <div *ngIf="meeting.meeting_ostatus != 'Y' " class="d-flex justify-content-around mb-4 font-status">
                                <div>
                                    <h4>
                                        <span class="badge badge-primary font-status font-weight-bold" *ngIf="meeting.meeting_rstatus == '0'">ยกเลิก</span>
                                        <span class="badge badge-primary font-status font-weight-bold" *ngIf="meeting.meeting_rstatus == '1'">รอดำเนินการ</span>
                                        <span class="badge badge-primary font-status font-weight-bold" *ngIf="meeting.meeting_rstatus == '2'">อยู่ระหว่างเสนอวาระ</span>
                                        <span class="badge badge-primary font-status font-weight-bold" *ngIf="meeting.meeting_rstatus == '3'">อยู่ระหว่างพิจารณาวาระ</span>
                                        <span class="badge badge-primary font-status font-weight-bold" *ngIf="meeting.meeting_rstatus == '4'">อยู่ระหว่างบันทึกการประชุม</span>
                                    </h4>
                                </div>
                            </div> -->

                            <div class="row" >
                                <div class="d-flex topic mb-3 font-weight-bold">
                                    <div class="p-2">วาระที่</div>
                                    <div class="mr-auto p-2">เรื่อง</div>
                                    <div class="p-2">
                                        บันทึกมติการประชุม
                                    </div>
                                </div>
                            </div>
                            <!-- วาระหลัก -->
                            <div class="row" *ngFor="let data of mttopic_list; let i = index">
                                <div class="d-flex topic font-weight-bold">
                                    <div class="p-2">
                                        <!-- วาระ -->
                                        {{ i + 1 }}
                                    </div>
                                    <div class="mr-auto p-2">
                                        <!-- เรื่อง -->
                                        {{data.topic_name}}
                                    </div>
                                    <div class="p-2">
                                        <!-- วาระที่เสนอ -->
                                        <a>
                                            <span class="badge badge-warning font-weight-bold p-1">
                                                <span class="badge badge-warning ">{{data.num_topic}}</span>
                                            </span>
                                        </a>
                                    </div>

                                </div>
                                <!-- วาระย่อย 1 -->
                                <div class="row ml-auto" *ngFor="let datasub of data.sub_data; let i = index">
                                    <div class="d-flex topic-sub-">
                                        <div class="p-2">
                                            <!-- วาระ -->
                                            <span *ngIf="datasub.agendatopic_no != ''">
                                                {{datasub.agendatopic_no}}
                                            </span>
                                            <span *ngIf="datasub.agendatopic_no == ''">
                                                -
                                            </span>

                                        </div>
                                        <div class="mr-auto p-2">
                                            <!-- เรื่อง -->
                                            {{datasub.agendatopic_name}}
                                        </div>

                                        <!-- บันทึกมติการประชุม -->
                                        <div class="p-2">
                                            <i class="mdi mdi-information-outline" *ngIf="datasub.agendatopic_rstatus =='S'"></i>
                                            <a href="#" data-toggle="modal" data-target="#meeting-save">
                                                <span class="badge badge-primary p-2 m-2"
                                                    (click)="onClickTopic(datasub)">
                                                    <i class="mdi mdi-content-save"></i>บันทึกมติประชุม</span>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- วาระย่อย 2 -->
                                    <div class="row ml-auto" *ngFor="let datasub of datasub.data_sub2; let i = index">
                                        <div class="d-flex topic-sub-">
                                            <!-- วาระ -->
                                            <div class="p-2">
                                                <span *ngIf="datasub.agendatopic_no != ''">
                                                    {{datasub.agendatopic_no}}
                                                </span>
                                                <span *ngIf="datasub.agendatopic_no == ''">
                                                    -
                                                </span>
                                            </div>

                                            <!-- เรื่อง -->
                                            <div class="mr-auto p-2">
                                                {{datasub.agendatopic_name}}
                                            </div>

                                            <!-- บันทึกมติการประชุม -->
                                            <div class="p-2">
                                                <i class="mdi mdi-information-outline" *ngIf="datasub.agendatopic_rstatus =='S'"></i>
                                                <a href="#" data-toggle="modal" data-target="#meeting-save">
                                                    <span class="badge badge-primary p-2 m-2"
                                                        (click)="onClickTopic(datasub)">
                                                        <i class="mdi mdi-content-save"></i> บันทึกมติประชุม</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="d-flex topic mb-3 font-weight-bold">
                                    <div class="p-2">เลิกประชุมเวลา</div>
                                    <div class="p-2">
                                        <input type="time" class="form-control" name="meeting_endtime" [(ngModel)]="meeting_endtime" />
                                    </div>
                                    <div class="mr-auto p-2">
                                        <button type="button" (click)="endMeetingTime(meeting_code)"
                                        class="btn btn-primary d-flex align-items-center justify-content-center">
                                        บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
            </div>

        </div>


    </div>
    <!-- content-wrapper ends -->

    <style>
        .custom-modal-dialog {
            max-width: 70%;
            /* กำหนดความกว้างสูงสุด */
            max-height: 600px;
            /* กำหนดความสูงสูงสุด */
        }
    </style>


    <div class="modal fade" id="meeting-save" tabindex="-1" role="dialog"
        aria-labelledby="checkConfirmAgendaSubModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkConfirmAgendaSubModalLabel">
                        บันทึกมติการประชุม
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><strong>วาระที่: {{agenda.agendatopic_no}}
                                        {{agenda.agendatopic_name}}</strong></h4>

                                <form class="forms-sample" [formGroup]="recordForm">

                                    <div class="form-group">
                                        <label for="outsider_position" class="col-sm-5 col-form-label">การอภิปรายและข้อเสนอแนะจากที่ประชุม:
                                        </label>
                                        <div class="col-sm-10">
                                            <st-editor 
                                                [(ngModel)]="agenda.agenda_discussion" 
                                                formControlName="agenda_discussion" 
                                                [config]="config"></st-editor>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="outsider_position" class="col-sm-3 col-form-label">มติที่ประชุม:
                                        </label>
                                        <div class="col-sm-10">
                                            <st-editor 
                                                [(ngModel)]="agenda.agenda_resolution" 
                                                formControlName="agenda_resolution" 
                                                [config]="config"></st-editor>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="outsider_position" class="col-sm-3 col-form-label">มติที่ประชุม/มอบหมายงาน:
                                        </label>
                                        <div class="col-sm-10">
                                            <st-editor 
                                                [(ngModel)]="agenda.agenda_assigned" 
                                                formControlName="agenda_assigned" 
                                                [config]="config"></st-editor>
                                        </div>
                                    </div>

                                    <div class="row text-center font-weight-bold">
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <button type="button" (click)="recordAgendaTopic(agenda)"
                                                class="btn btn-primary d-flex align-items-center justify-content-center"
                                                data-dismiss="modal"><i class="mdi mdi-check-circle"></i>
                                                บันทึก</button>

                                            <button type="button"
                                                class="btn btn-outline-secondary m-2 d-flex align-items-center justify-content-center"
                                                data-dismiss="modal"><i class="mdi mdi-close-box"></i> ยกเลิก</button>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- </div> -->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger d-flex align-items-center justify-content-center"
                    data-dismiss="modal"><i class="mdi mdi-close-box"></i> ปิด</button> -->
                </div>
            </div>
        </div>
    </div>