<app-navbar></app-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">

    <div class="content-wrapper">
        <div class="row">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                routerLinkActive="router-link-active">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/meeting-save']"
                                routerLinkActive="router-link-active">บันทึกมติการประชุม</a></li>
                        <li class="breadcrumb-item active">{{meeting.open_title}} ครั้งที่ {{meeting.meeting_thetime}}
                        </li>
                    </ol>
                </nav>
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h5 class="font-weight-bold">วาระการประชุม</h5>
                            <br>
                            <h6 class="font-weight-normal mb-0"><strong>เรื่อง:</strong> {{meeting.open_title}} ครั้งที่
                                {{meeting.meeting_thetime}}</h6>
                        </div>
                        <!-- <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="add-items d-flex mb-0 mt-2">
                                    <input type="text" [(ngModel)]="searchText" (input)="onSearch()"
                                        class="form-control todo-list-input" placeholder="ค้นหา">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- <p class="card-title mb-0">ข้อเสนอวาระการประชุม</p> -->
                            <br />

                            <div class="row">
                                <div class="d-flex topic mb-3 font-weight-bold">
                                    <div class="p-2">วาระที่</div>
                                    <div class="mr-auto p-2">เรื่อง</div>
                                    <div class="p-2">
                                        บันทึกมติการประชุม
                                    </div>
                                </div>
                            </div>
                            <!-- วาระหลัก -->
                            <div class="row" *ngFor="let data of mttopic_list; let i = index">
                                <div class="d-flex topic font-weight-bold">
                                    <div class="p-2">
                                        <!-- วาระ -->
                                        {{ i + 1 }}
                                    </div>
                                    <div class="mr-auto p-2">
                                        <!-- เรื่อง -->
                                        {{data.topic_name}}
                                    </div>
                                    <div class="p-2">
                                        <!-- วาระที่เสนอ -->
                                        <a>
                                            <span class="badge badge-warning font-weight-bold p-1">
                                                <span class="badge badge-warning ">{{data.num_topic}}</span>
                                            </span>
                                        </a>
                                    </div>

                                </div>
                                <!-- วาระย่อย 1 -->
                                <div class="row ml-auto" *ngFor="let datasub of data.sub_data; let i = index">
                                    <div class="d-flex topic-sub-">
                                        <div class="p-2">
                                            <!-- วาระ -->
                                            <span *ngIf="datasub.agendatopic_no != ''">
                                                {{datasub.agendatopic_no}}
                                            </span>
                                            <span *ngIf="datasub.agendatopic_no == ''">
                                                -
                                            </span>

                                        </div>
                                        <div class="mr-auto p-2">
                                            <!-- เรื่อง -->
                                            {{datasub.agendatopic_name}}
                                        </div>

                                        <!-- บันทึกมติการประชุม -->
                                        <div class="p-2">
                                            <a href="#" data-toggle="modal" data-target="#meeting-save">
                                                <span class="badge badge-primary p-2 m-2"
                                                    (click)="onClickTopic(datasub)">
                                                    <i class="mdi mdi-content-save"></i></span>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- วาระย่อย 2 -->
                                    <div class="row ml-auto" *ngFor="let datasub of datasub.data_sub2; let i = index">
                                        <div class="d-flex topic-sub-">
                                            <!-- วาระ -->
                                            <div class="p-2">
                                                <span *ngIf="datasub.agendatopic_no != ''">
                                                    {{datasub.agendatopic_no}}
                                                </span>
                                                <span *ngIf="datasub.agendatopic_no == ''">
                                                    -
                                                </span>
                                            </div>

                                            <!-- เรื่อง -->
                                            <div class="mr-auto p-2">
                                                {{datasub.agendatopic_name}}
                                            </div>

                                            <!-- บันทึกมติการประชุม -->
                                            <div class="p-2">
                                                <a href="#" data-toggle="modal" data-target="#meeting-save">
                                                    <span class="badge badge-primary p-2 m-2"
                                                        (click)="onClickTopic(datasub)">
                                                        <i class="mdi mdi-content-save"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="d-flex topic mb-3 font-weight-bold">
                                    <div class="p-2">เลิกประชุมเวลา</div>
                                    <div class="p-2">
                                        <input type="time" class="form-control" name="meeting_endtime" [(ngModel)]="meeting_endtime" />
                                    </div>
                                    <div class="mr-auto p-2">
                                        <button type="button" (click)="endMeetingTime(meeting_code)"
                                        class="btn btn-primary d-flex align-items-center justify-content-center">
                                        บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
            </div>

        </div>


    </div>
    <!-- content-wrapper ends -->

    <style>
        .custom-modal-dialog {
            max-width: 70%;
            /* กำหนดความกว้างสูงสุด */
            max-height: 600px;
            /* กำหนดความสูงสูงสุด */
        }
    </style>

    <!-- บันทึกหัวข้อเสนอวาระการประชุม Add agenda topic -->
    <!-- <div class="modal fade" id="add-agenda-sub" tabindex="-1" role="dialog" aria-labelledby="addAgendaSubModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAgendaSubModalLabel">เสนอวาระเพื่อพิจารณา</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{open_title}}</h4>
                            <form class="forms-sample" [formGroup]="topicForm">
                                <div class="form-group row">
                                    <label for="outsider_lname" class="col-sm-3 col-form-label">เรื่อง: *
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="agendatopic_name"
                                            [(ngModel)]="topic.agendatopic_name" formControlName="agendatopic_name"
                                            placeholder="เช่น ประธานแจ้งให้ที่ประชุมทราบ">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="outsider_lname" class="col-sm-3 col-form-label">ความเป็นมา: *
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="agendatopic_origin" rows="5"
                                            [(ngModel)]="topic.agendatopic_origin" formControlName="agendatopic_origin"
                                            placeholder="ที่มาของประเด็นที่นำเสนอ"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="outsider_position" class="col-sm-3 col-form-label">ข้อเสนอเพื่อพิจารณา:
                                        *
                                    </label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="agendatopic_offer" rows="5"
                                            [(ngModel)]="topic.agendatopic_offer" formControlName="agendatopic_offer"
                                            placeholder="ประเด็นที่ต้องการขออนุมัติ หรือ เห็นชอบ"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="outsider_phone"
                                        class="col-sm-3 col-form-label">เอกสารการประชุมฉบับเต็ม:</label>
                                    <div class="col-sm-3">
                                        <input type="file" class="form-control" formControlName="agendatopic_doc"
                                            (change)="onFileChange($event)" placeholder="">
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                                    <button type="submit" [disabled]="!topicForm.valid" class="btn btn-primary m-2"
                                        data-dismiss="modal" (click)="saveAgendaTopic(topic)">บันทึก</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div> -->

    <div class="modal fade" id="meeting-save" tabindex="-1" role="dialog"
        aria-labelledby="checkConfirmAgendaSubModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkConfirmAgendaSubModalLabel">
                        บันทึกมติการประชุม
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><strong>วาระที่: {{topic.agendatopic_no}}
                                        {{topic.agendatopic_name}}</strong></h4>

                                <form class="forms-sample" [formGroup]="topicForm">

                                    <div class="form-group row">
                                        <label for="outsider_position" class="col-sm-3 col-form-label">รายละเอียด:
                                        </label>
                                        <div class="col-sm-5">
                                            <textarea class="form-control" id="agendatopic_note" rows="10"
                                                [(ngModel)]="topic.agendatopic_note" formControlName="agendatopic_note"
                                                placeholder=""></textarea>
                                        </div>
                                    </div>

                                    <div class="row text-center font-weight-bold">
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <button type="button" (click)="noteAgendaTopic(topic)"
                                                class="btn btn-primary d-flex align-items-center justify-content-center"
                                                data-dismiss="modal"><i class="mdi mdi-check-circle"></i>
                                                บันทึก</button>

                                            <button type="button"
                                                class="btn btn-danger m-2 d-flex align-items-center justify-content-center"
                                                data-dismiss="modal"><i class="mdi mdi-close-box"></i> ยกเลิก</button>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- </div> -->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger d-flex align-items-center justify-content-center"
                    data-dismiss="modal"><i class="mdi mdi-close-box"></i> ปิด</button> -->
                </div>
            </div>
        </div>
    </div>