<app-navbar></app-navbar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">

    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h6 class="font-weight-bold"><a [routerLink]="['/home']"
                                routerLinkActive="router-link-active">Dashboard >> </a> {{meeting.open_title}} คร้ังที่
                            {{meeting.meeting_thetime}}</h6>
                        <h6 class="font-weight-normal mb-0">&nbsp;</h6>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="add-items d-flex mb-0 mt-2">

                                <input type="text" class="form-control todo-list-input" placeholder="เสนอวาระการประชุม">
                                <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"
                                    data-toggle="modal" data-target="#addMeetingForm" data-whatever="@getbootstrap"><i
                                        class="mdi mdi-library-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title mb-2">เสนอวาระการประชุม</p>

                        <div class="row card-title">
                            <div class="col-sm-2">
                                วาระ
                            </div>
                            <div class="col-sm-4">
                                เรื่อง
                            </div>
                            <div class="col-sm-2 text-center">
                                เอกสารแนบ
                            </div>
                            <div class="col-sm-2 text-center">
                                เพิ่มวาระย่อย
                            </div>
                            <div class="col-sm-2 text-center">
                                แก้ไข/ลบ
                            </div>
                        </div>

                        <div class="row" *ngFor="let data of agendatopic_list; let i = index">
                            <div class="row col-12 topic">
                                <div class="col-sm-2">
                                    {{ i + 1 }}
                                </div>
                                <div class="col-sm-4">
                                    <strong>{{data.topic_name}}</strong>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <!-- <a href="#">
                                        <span class="badge badge-primary">
                                            <i class="mdi mdi-file-document"></i></span>
                                    </a> -->
                                </div>

                                <div class="col-sm-2 text-center">
                                    <a href="#" data-toggle="modal" data-target="#add-agenda-sub">
                                        <span class="badge badge-warning" (click)="onClickAddTopic(data.topic_code)"><i
                                                class="mdi mdi-library-plus"></i></span>
                                    </a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <!-- <a href="#" data-toggle="modal" data-target="#add-agenda-sub">
                                        <span class="badge badge-warning" (click)="onClickAddTopic(data.topic_code)"><i
                                                class="mdi mdi-library-plus"></i></span>
                                    </a> -->
                                </div>

                            </div>
                            <!-- วาระย่อย 1-->
                            <div class="row mt-2 ml-4" *ngFor="let item of data.data_sub">
                                <div class="row col-12 m-2" *ngIf="item.topic_code === data.topic_code">
                                    <div class="col-sm-2">
                                        {{item.agendatopic_no}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{item.agendatopic_name}}
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <a href="#">
                                            <span class="badge badge-primary">
                                                <i class="mdi mdi-file-document"></i></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <a href="#" data-toggle="modal" data-target="#add-agenda-sub">
                                            <span class="badge badge-secondary"
                                                (click)="onClickAddTopic(data.topic_code)"><i
                                                    class="mdi mdi-library-plus"></i></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <!--แก้ไข-->
                                        <a [routerLink]="['/meeting-setting']" routerLinkActive="router-link-active"
                                            data-toggle="modal" data-target="#myModal">
                                            <span class="badge badge-warning m-2"><i class="mdi mdi-grease-pencil"></i>
                                            </span>
                                        </a>
                                        <!--ลบ-->
                                        <a href="#">
                                            <span class="badge badge-danger m-2"><i class="mdi mdi mdi-delete"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th class="text-center">วาระ</th>
                                        <th>เรื่อง</th>
                                        <th class="text-center">เอกสารแนบ</th>
                                        <th class="text-center">เพิ่มวาระย่อย</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of mttopic_list; let i = index">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td>
                                            {{data.topic_name}}
                                        </td>
                                        <td class="text-center">
                                            <a href="#">
                                                <span class="badge badge-primary">
                                                    <i class="mdi mdi-file-document"></i></span>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" data-toggle="modal" data-target="#add-agenda-sub">
                                                <span class="badge badge-warning"
                                                    (click)="onClickAddTopic(data.topic_code)"><i
                                                        class="mdi mdi-library-plus"></i></span>
                                            </a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                        </div> -->
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- content-wrapper ends -->

    <style>
        .custom-modal-dialog {
            max-width: 70%;
            /* กำหนดความกว้างสูงสุด */
            max-height: 600px;
            /* กำหนดความสูงสูงสุด */
        }
    </style>

    <div class="modal fade" id="add-agenda-sub" tabindex="-1" role="dialog" aria-labelledby="addAgendaSubModalLabel"
        aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAgendaSubModalLabel">เพิ่มวาระย่อย</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{open_title}}</h4>

                                <form class="forms-sample" [formGroup]="topicForm">

                                    <div class="form-group row">
                                        <label for="outsider_fname" class="col-sm-3 col-form-label">วาระย่อยที่: *
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="meeting_thetime"
                                                [(ngModel)]="topic.agendatopic_no" formControlName="agendatopic_no"
                                                placeholder="เช่น 1.1, ๑.๑">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_lname" class="col-sm-3 col-form-label">เรื่อง: *
                                        </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="agendatopic_name"
                                                [(ngModel)]="topic.agendatopic_name" formControlName="agendatopic_name"
                                                placeholder="เช่น ประธานแจ้งให้ที่ประชุมทราบ">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_lname" class="col-sm-3 col-form-label">ความเป็นมา:
                                        </label>
                                        <div class="col-sm-5">
                                            <textarea class="form-control" id="agendatopic_origin"
                                                [(ngModel)]="topic.agendatopic_origin"
                                                formControlName="agendatopic_origin"
                                                placeholder="ที่มาของประเด็นที่นำเสนอ"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_position"
                                            class="col-sm-3 col-form-label">ข้อเสนอเพื่อพิจารณา:
                                        </label>
                                        <div class="col-sm-5">
                                            <textarea class="form-control" id="agendatopic_offer"
                                                [(ngModel)]="topic.agendatopic_offer"
                                                formControlName="agendatopic_offer"
                                                placeholder="ประเด็นที่ต้องการขออนุมัติ หรือ เห็นชอบ"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="outsider_phone"
                                            class="col-sm-3 col-form-label">เอกสารการประชุมฉบับเต็ม:</label>
                                        <div class="col-sm-3">
                                            <input type="file" class="form-control" id="agendatopic_doc"
                                                (change)="onFileChange($event)" [(ngModel)]="topic.agendatopic_doc"
                                                formControlName="agendatopic_doc" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="outsider_phone"
                                            class="col-sm-3 col-form-label">ผู้ชี้แจงข้อสักถาม:</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="foreman_code"
                                                [(ngModel)]="topic.foreman_code" formControlName="foreman_code"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">ยกเลิก</button>
                                        <button type="submit" [disabled]="!topicForm.valid" class="btn btn-primary m-2"
                                            data-dismiss="modal" (click)="saveAgendaTopic(topic)">บันทึก</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>