<main>
  <div class="container-scroller">
    <!-- <div>
        <app-navbar></app-navbar>
      </div> -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- side bar -->
      <!-- <app-side-menu></app-side-menu> -->
      <div>
        <div class="sidebar" [ngClass]="{'close': isSidebarClosed}">
          <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">RUTS-DCMS </span>
          </div>
          <ul class="nav-links">
            <li>
              <a href="#" [routerLink]="['/home']">
                <i class="fas fa-qrcode"></i>
                <span class="link_name">หน้าหลัก</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/']" routerLinkActive="router-link-active">หน้าหลัก</a></li>
              </ul>
            </li>

            <li *ngIf="user.user_role == 'F'">
              <a href="#" [routerLink]="['/outsider']">
                <i class="mdi mdi-account"></i>
                <span class="link_name">ผู้ใช้งานภายนอก</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/outsider']"
                    routerLinkActive="router-link-active">ผู้ใช้งานภายนอก</a></li>
              </ul>
            </li>
            <li *ngIf="user.user_role == 'F'">
              <a href="#" [routerLink]="['/meeting-setting']">
                <i class="mdi mdi-settings"></i>
                <span class="link_name">กำหนดชื่อการประชุม</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/meeting-setting']"
                    routerLinkActive="router-link-active">กำหนดชื่อการประชุม</a></li>
              </ul>
            </li>
            <li *ngIf="user.user_role == 'F'">
              <a href="#" [routerLink]="['/meeting-manage']">
                <i class="mdi mdi-wrench"></i>
                <span class="link_name">เตรียมการประชุม</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/meeting-manage']"
                    routerLinkActive="router-link-active">เตรียมการประชุม</a></li>
              </ul>
            </li>

            <li *ngIf="user.user_role == 'F'">
              <a href="#" [routerLink]="['/meeting-save']">
                <i class="mdi mdi-content-save-settings"></i>
                <span class="link_name">บันทึกมติการประชุม</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/meeting-save']"
                    routerLinkActive="router-link-active">บันทึกมติการประชุม</a></li>
              </ul>
            </li>

            <li *ngIf="user.user_role == 'F'">
              <a href="#" [routerLink]="['/']">
                <i class="mdi mdi-note"></i>
                <span class="link_name">รายงานการประชุม</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/']" routerLinkActive="router-link-active">รายงานการประชุม</a>
                </li>
              </ul>
            </li>
            <li *ngIf="user.user_role != 'F' && user.user_role != 'A'">
              <a href="#" [routerLink]="['/']">
                <i class="mdi mdi-view-agenda"></i>
                <span class="link_name">งานที่ได้รับมอบหมาย</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/']"
                    routerLinkActive="router-link-active">งานที่ได้รับมอบหมาย</a></li>
              </ul>
            </li>

            <li *ngIf="user.user_role == 'A'">
              <a href="#" [routerLink]="['/user']">
                <i class="mdi mdi-account"></i>
                <span class="link_name">กำหนดสิทธิ์ผู้ใช้</span>
              </a>
              <ul class="sub-menu blank">
                <li>
                  <a class="nav-link" [routerLink]="['/user']" routerLinkActive="router-link-active">
                    กำหนดสิทธิ์ผู้ใช้
                  </a>
                </li>
              </ul>
            </li>

            <li [routerLink]="['/home']" *ngIf="user.user_role != 'F' && user.user_role != 'A'">
              <a href="#">
                <i class="mdi mdi-view-agenda"></i>
                <span class="link_name">ประชุมทั้งหมด</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/home']"
                    routerLinkActive="router-link-active">ประชุมทั้งหมด</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" [routerLink]="['/logout']">
                <i class="mdi mdi-logout-variant"></i>
                <span class="link_name">ออกจากระบบ</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="['/logout']" routerLinkActive="router-link-active">ออกจากระบบ</a>
                </li>
              </ul>
            </li>

            <!-- <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li> -->
          </ul>
        </div>
      </div>
      <section class="home-section ">
        <div class="home-content">
          <i class='bx bx-menu' (click)="toggleSidebar()"></i>
          <!-- <span style="font-size:30px;cursor:pointer" (click)="toggleSidebar()">&#9776; open</span> -->
        </div>
      </section>

      <!-- content -->
      <div class="main-panel" id="main" [ngStyle]="{'margin-left.px': isSidebarClosed ? 0 : 0}">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
                href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.
              All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>

      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->

  </div>
</main>

<!-- <div class="d-flex justify-content-start align-text-bottom"
    style="width:100%;background-color: aliceblue;position:relative;justify-content: center;align-items: center;">
    <footer class="footer py-3">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              ©2023
              <a href="https://arit.rmutsv.ac.th/" class="font-weight-bold" target="_blank">ARIT.RMUTSV.AC.TH.
                สำนักวิทยบริการและเทคโนโลยีสารสนเทศ สวส. มทร.ศรีวิชัย</a>
              ALL RIGHTS RESERVED.
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div> -->