<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item active">
                        <a [routerLink]="['/meeting-manage']">เตรียมการประชุม </a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{opens.open_title}}
                    </li>
                </ol>
            </nav>
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <div class="verticals ten offset-by-one">
                            <h4>เพิ่มการประชุมแต่ละครั้ง
                                <button type="button" class="btn btn-primary btn-rounded btn-icon" data-toggle="modal"
                                    data-target="#addMeetingForm" data-whatever="@getbootstrap">
                                    <i class="mdi mdi-shape-square-plus"></i>
                                </button>
                            </h4>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="add-items d-flex mb-0 mt-2">
                                <!-- 
                                <input type="text" class="form-control todo-list-input" placeholder="เพิ่มการประชุม">
                                <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"
                                    data-toggle="modal" data-target="#addMeetingForm" data-whatever="@getbootstrap">
                                    <span class="badge badge-warning"><i class="icon-circle-plus"></i></span>
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <!-- <p class="card-title mb-0">การประชุมแต่ละคร้ัง</p>
                        <p>&nbsp;</p> -->
                        <h4 class="card-title">การประชุมแต่ละครั้ง</h4>
                        <p class="card-description">
                            รายการประชุมทั้งหมด <code>1</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th class="text-center">ลำดับ</th>
                                        <th>การประชุม</th>
                                        <th class="text-center">ดำเนินการจัดประชุม</th>
                                        <th class="text-center">เพิ่มวาระ</th>
                                        <th class="text-center">เอกสาร</th>
                                        <th class="text-center">สถานะ</th>
                                        <!-- <th class="text-center">คัดลอก</th> -->
                                        <!-- <th class="text-center">เผยแพร่</th>
                                        <th class="text-center">พิมพ์<br>รายชื่อ</th> -->
                                        <th class="text-center">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let data of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td class="text-center">{{ i + (p - 1) * 10 + 1 }}</td>
                                        <td>
                                            {{opens.open_title}} ({{data.meeting_thetime}})<br>
                                            <small>{{data.meeting_sdate | thaiDate}} เวลา {{data.meeting_time}} น. ณ
                                                {{data.meeting_location}}</small>
                                        </td>


                                        <!--จัดการการประชุม-->
                                        <td class="text-center">
                                            <a href="#"
                                                [routerLink]="['/meeting-time-manage',data.meeting_code,data.open_code]"
                                                routerLinkActive="router-link-active">
                                                <span class="badge badge-primary
                                                "><i class="mdi mdi-wrench"></i></span>
                                            </a>
                                        </td>

                                        <!--เพิ่มวาระ-->
                                        <td class="text-center">
                                            <a [routerLink]="['/agenda-topic-admin',data.meeting_code]"
                                                routerLinkActive="router-link-active">
                                                <span class="badge badge-warning"><i
                                                        class="mdi mdi-library-plus"></i></span>
                                            </a>
                                        </td>

                                        <!--เอกสาร-->
                                        <td class="text-center">
                                            <button class="btn-action" *ngIf="data.doc_files.length != 0"
                                                (click)="onClickOpenFile(data.doc_files)"
                                                data-toggle="modal" data-target="#open-filedocument">
                                                <span class="badge badge-info">
                                                    <i class="mdi mdi-file-check"></i> เอกสาร</span>
                                            </button>
                                            <a *ngIf="data.doc_files.length == 0">
                                                <span class="badge badge-secondary">
                                                    <i class="mdi mdi-file-hidden"></i></span>
                                            </a>

                                            <!-- <a href="http://localhost/dcms-api/pdf/_create_agenda_topic.php?meeting_code=1" target="_blank">
                                                <span class="badge badge-info">
                                                    <i class="mdi mdi-file-check"></i></span>
                                            </a> -->
                                        </td>

                                        <td>
                                            <!--สถานะ-->
                                            <span class="badge badge-warning text-dark"
                                                *ngIf="data.propose_code == '01'">
                                                เสนอวาระ</span>

                                            <span class="badge badge-secondary" *ngIf="data.propose_code == '02'">
                                                ไม่เสนอวาระ</span>
                                        </td>

                                        <!--พิมพ์รายชื่อ-->
                                        <!-- <td class="text-center">
                                            <a [routerLink]="['/meeting-setting']" routerLinkActive="router-link-active"
                                                data-toggle="modal" data-target="#myModal">
                                                <span class="badge badge-primary"><i
                                                        class="mdi mdi-account-multiple"></i>
                                                </span>
                                            </a>
                                        </td> -->

                                        <!--คัดลอก-->
                                        <!-- <td class="text-center">
                                            <button class="btn-action" data-toggle="modal"
                                                (click)="copyMeeting(data.meeting_code)">
                                                <span class="badge badge-primary m-2"><i
                                                        class="mdi mdi-content-copy"></i>
                                                </span>
                                            </button>
                                        </td> -->

                                        <!--จัดการข้อมูล-->
                                        <td class="text-center">
                                            <!--คัดลอก-->
                                            <button class="btn-action" data-toggle="modal"
                                                (click)="copyMeeting(data.meeting_code)">
                                                <span class="badge badge-primary m-2"><i
                                                        class="mdi mdi-content-copy"></i>
                                                </span>
                                            </button>
                                            <!--แก้ไข-->
                                            <button class="btn-action" data-toggle="modal" data-target="#addMeetingForm"
                                                (click)="onClickEditMeeting(data)">
                                                <span class="badge badge-warning"><i class="mdi mdi-grease-pencil"></i>
                                                </span>
                                            </button>

                                            <!--ลบ-->
                                            <button class="btn-action" (click)="removeMeeting(data.meeting_code)">
                                                <span class="badge badge-danger"><i class="mdi mdi mdi-delete"></i>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="list">
                                <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- content-wrapper ends -->

    <style>
        .custom-modal-dialog {
            max-width: 70%;
            /* กำหนดความกว้างสูงสุด */
            max-height: 600px;
            /* กำหนดความสูงสูงสุด */
        }
    </style>

    <!-- เพิ่มประชุมแต่ละคร้ัง -->
    <div class="modal fade" id="addMeetingForm" tabindex="-1" role="dialog" aria-labelledby="addMeetingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog custom-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMeetingModalLabel">เพิ่มการประชุมแต่ละครั้ง</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="resetFormSubmit()">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                        (click)="resetFormSubmit()">&times; ปิด</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <!-- <h4 class="card-title">{{opens.open_title}}</h4> -->

                                <form class="forms-sample" [formGroup]="meetingForm">
                                    <div class="form-group row">
                                        <label for="prefix_name" class="col-sm-3 col-form-label">ชื่อการประชุม:
                                            *</label>
                                        <label for="prefix_name" class="col-sm-9 col-form-label">
                                            <strong>{{opens.open_title}}</strong>
                                        </label>
                                    </div>

                                    <div class="form-group row">
                                        <label for="outsider_fname" class="col-sm-3 col-form-label">ครั้งที่ประชุม:
                                            *</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="meeting_thetime"
                                                [(ngModel)]="meeting.meeting_thetime" formControlName="meeting_thetime"
                                                placeholder="เช่นครั้งที่ 1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_lname" class="col-sm-3 col-form-label">วันที่เริ่มประชุม:
                                            *</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" id="meeting_sdate"
                                                [(ngModel)]="meeting.meeting_sdate" formControlName="meeting_sdate"
                                                placeholder="วัน/เดือน/ปี">
                                        </div>
                                        <!-- <div class="col-sm-5">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="datepicker" placeholder="Select a date">
                                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                                <mat-datepicker #datepicker></mat-datepicker>
                                              </mat-form-field>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="dd/mm/yyyy" name="dpFromDate"
                                                    formControlName="meeting_sdate" [(ngModel)]="meeting.meeting_sdate"
                                                    ngbDatepicker #dpFromDate="ngbDatepicker" />
                                                <button class="btn btn-outline-secondary bi bi-calendar3"
                                                    (click)="dpFromDate.toggle()" type="button"></button>
                                            </div>

                                            <hr />
                                            <pre>Model: {{meeting.meeting_sdate | json }}</pre>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_lname" class="col-sm-3 col-form-label">วันที่สิ้นสุดประชุม:
                                            *</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" id="meeting_edate"
                                                [(ngModel)]="meeting.meeting_edate" formControlName="meeting_edate"
                                                placeholder="วัน/เดือน/ปี"
                                                (ngModelChange)="meeting.meeting_edate = $event">
                                        </div>
                                        <!-- <div class="col-sm-5">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                                    formControlName="meeting_edate" [(ngModel)]="meeting.meeting_edate"
                                                    ngbDatepicker #dpToDate="ngbDatepicker" />
                                                <button class="btn btn-outline-secondary bi bi-calendar3"
                                                    (click)="dpToDate.toggle()" type="button"></button>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <label for="outsider_position" class="col-sm-3 col-form-label">เวลาเริ่มประชุม:
                                            *</label>
                                        <div class="col-sm-5">
                                            <input type="time" class="form-control" id="meeting_time"
                                                [(ngModel)]="meeting.meeting_time" formControlName="meeting_time"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputConfirmPassword2"
                                            class="col-sm-3 col-form-label">สถานที่ประชุม: *</label>

                                        <div class="col-sm-3">
                                            <select class="form-control" [(ngModel)]="meeting.channel_code"
                                                name="channel_code" formControlName="channel_code">
                                                <option *ngFor="let channel of channels" value="{{ channel.id }}">
                                                    {{ channel.name }}
                                                </option>
                                            </select>
                                        </div>


                                    </div>

                                    <!--อาคาร/ห้องประชุม-->
                                    <div class="form-group row"
                                        *ngIf="meeting.channel_code == '1' || meeting.channel_code == '3'">
                                        <label for="outsider_position" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"
                                                [(ngModel)]="meeting.meeting_location" name="meeting_location"
                                                formControlName="meeting_location" placeholder="อาคาร/ห้องประชุม">
                                        </div>
                                    </div>

                                    <div class="form-group row"
                                        *ngIf="meeting.channel_code == '2' || meeting.channel_code == '3'">
                                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-4">
                                            <select class="form-control" [(ngModel)]="meeting.program_code"
                                                name="program_code" formControlName="program_code">

                                                <option *ngFor="let item of program_list"
                                                    value="{{ item.program_code }}">
                                                    โปรแกรม {{ item.program_name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group row"
                                        *ngIf="meeting.channel_code == '2' || meeting.channel_code == '3'">
                                        <label for="outsider_position" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" [(ngModel)]="meeting.meeting_link"
                                                name="meeting_link" formControlName="meeting_link"
                                                placeholder="Meeting Link">
                                        </div>
                                    </div>

                                    <div class="form-group row"
                                        *ngIf="meeting.channel_code == '2' || meeting.channel_code == '3'">
                                        <label for="outsider_position" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" [(ngModel)]="meeting.meeting_id"
                                                name="meeting_id" formControlName="meeting_id" placeholder="Meeting ID">
                                        </div>
                                    </div>

                                    <div class="form-group row"
                                        *ngIf="meeting.channel_code == '2' || meeting.channel_code == '3'">
                                        <label for="outsider_position" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control"
                                                [(ngModel)]="meeting.meeting_passcode" name="meeting_passcode"
                                                formControlName="meeting_passcode" placeholder="Meeting Passcode">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputUsername2"
                                            class="col-sm-3 col-form-label">เสนอวาระการประชุม :
                                            *</label>
                                        <div class="col-sm-3">
                                            <div class="form-check1">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                        [(ngModel)]="meeting.propose_code" name="propose_code"
                                                        formControlName="propose_code" value="01" checked>
                                                    เสนอวาระ
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-check1">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                        [(ngModel)]="meeting.propose_code" name="propose_code"
                                                        formControlName="propose_code" value="02">
                                                    ไม่เสนอวาระ
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="meeting.propose_code == '01'">
                                        <label for="exampleInputPassword2"
                                            class="col-sm-3 col-form-label">วันที่สิ้นสุดการเสนอวาระ:
                                            *</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" [(ngModel)]="meeting.meeting_fdate"
                                                name="meeting_fdate" formControlName="meeting_fdate"
                                                placeholder="วันสุดท้ายการเสนอวาระ">
                                            <!-- <div class="input-group">
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="meeting_fdate"
                                                    formControlName="meeting_fdate" [(ngModel)]="meeting.meeting_fdate"
                                                    ngbDatepicker #fToDate="ngbDatepicker" />
                                                <button class="btn btn-outline-secondary bi bi-calendar3"
                                                    (click)="fToDate.toggle()" type="button"><i class="bi bi-calendar3"></i></button>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="outsider_phone"
                                            class="col-sm-3 col-form-label">เอกสารการประชุมฉบับเต็ม:</label>
                                        <div class="col-sm-3">
                                            <input type="file" class="form-control" id="meeting_doc"
                                                (change)="onFileChange($event)" [(ngModel)]="meeting.meeting_doc"
                                                formControlName="meeting_doc" placeholder="" accept="application/pdf"
                                                multiple>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="selectedFiles.length != 0">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label"></label>
                                        <!-- Add new -->
                                        <div class="col-sm-8">
                                            <ul class="list-group">
                                                <li *ngFor="let file of selectedFiles; let i = index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div class="col-sm-6 col-md-8 col-lg-8">
                                                        <span class="badge badge-secondary badge-pill">{{i
                                                            + 1}}</span> {{file.name}}
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <span class="badge badge-info badge-pill">
                                                            <a href="#" (click)="viewFile(file)" [href]="open_file"
                                                                target="_blank">
                                                                <span class="badge badge-info">
                                                                    เอกสาร</span></a>
                                                        </span>
                                                    </div>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Update -->
                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label"></label>

                                        <div class="col-sm-8">
                                            <ul class="list-group">
                                                <li *ngFor="let file of meeting.doc_files; let i = index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div class="col-sm-6 col-md-8 col-lg-8">
                                                        <span class="badge badge-secondary badge-pill">
                                                            {{i + 1}}</span> {{file.meetingdoc_name}}
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <span class="badge badge-info badge-pill m-2">
                                                            <a href="#"  (click)="openAnyFile(file.meetingdoc_path)" [href]="open_file"
                                                                target="_blank">
                                                                <span class="badge badge-info">
                                                                    เอกสาร</span></a>
                                                        </span>
                                                        
                                                        <button (click)="delFile(file,i)" 
                                                            class="btn btn-outline-danger btn-sm">ลบ</button>
                                                        
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleInputMobile" class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                (click)="resetFormSubmit()">ยกเลิก</button>
                                            <button type="submit" [disabled]="!meetingForm.valid"
                                                class="btn btn-primary m-2" data-dismiss="modal"
                                                (click)="saveMeeting(meeting)">บันทึกการประชุม</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="resetFormSubmit()">ปิด</button>
                </div>
            </div>
        </div>
    </div>

    <!-- เพิ่มหน่วยงานเข้าร่วมประชุม Add agency -->
    <div class="modal fade" id="add-agency-meeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog md-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i
                            class="mdi mdi-account-multiple-plus"></i>เพิ่มหน่วยงานเข้าร่วมประชุม</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-agency" name="forms-agency">
                                            <div class="form-group row">
                                                <label for="exampleInputUsername2"
                                                    class="col-sm-3 col-form-label">เลือกหน่วยงาน</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" [(ngModel)]="agencys.faculty_code"
                                                        name="faculty_code">
                                                        <option *ngFor="let item of FAClist"
                                                            value="{{ item.FACULTY_CODE }}">
                                                            {{ item.FACULTY_TNAME }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="submit"
                                                        (click)="addAgency({ code: agencys.faculty_code, name: getFacultyName(agencys.faculty_code) })"
                                                        class="btn btn-outline-primary">เพิ่ม</button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            <h2 class="card-title">
                                                หน่วยงานเข้าร่วมเสนอระเบียบวาระ</h2>
                                            <ul class="list-group">
                                                <li *ngFor="let item of agency_list; let i = index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span class="badge badge-warning badge-pill">
                                                            <strong>{{i+ 1}}</strong>
                                                        </span>
                                                        {{item.agency_name}}
                                                    </div>
                                                    <div>

                                                        <button
                                                            (click)="removeAgency(item.agency_code, item.meeting_code)"
                                                            class="btn btn-danger btn-sm">ลบ</button>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>

    <!-- เพิ่มคณะกรรมการพิจารณาวาระ Add user meeting -->
    <div class="modal fade" id="add-consider-meeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog md-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="mdi mdi-account-multiple-plus"></i>
                        เพิ่มคณะกรรมการพิจารณาวาระ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-consider" [formGroup]="considerForm" name="forms-consider">
                                            <div class="form-group row">
                                                <label for="exampleInputUsername2"
                                                    class="col-sm-3 col-form-label">ค้นหา:</label>
                                                <div class="col-sm-6">
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="data_person" [searchKeyword]="keyword"
                                                            placeholder="ค้นหาคณะกรรมการพิจารณาวาระ"
                                                            (selected)='selectEvent($event)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            formControlName="person_id">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.name"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound">
                                                            </div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleInputUsername2"
                                                    class="col-sm-3 col-form-label">ตำแหน่ง</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" [(ngModel)]="position_code"
                                                        formControlName="position_code" name="position_code">
                                                        <option *ngFor="let item of position_list"
                                                            value="{{ item.position_code }}">
                                                            {{ item.position_name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="form-group row">
                                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"></label>

                                            <div class="col-sm-2">
                                                <button type="submit" [disabled]="!considerForm.valid"
                                                    (click)="addConsider(position_code, person.id, person.name)"
                                                    class="btn btn-outline-primary">เพิ่ม</button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <h2 class="card-title">คณะกรรมการพิจารณาวาระ
                                            </h2>
                                            <ul class="list-group">
                                                <li *ngFor="let item of consider_list; let i = index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <span class="badge badge-secondary badge-pill">{{i
                                                            + 1}}</span>
                                                        {{item.person_name}}
                                                    </div>
                                                    <div>
                                                        <span
                                                            class="badge badge-primary badge-pill">{{item.position_name}}</span>
                                                        <button type="submit"
                                                            (click)="removeConsider(item.consider_code, item.meeting_code)"
                                                            class="btn btn-outline-danger btn-sm m-2">ลบ</button>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ตั้งค่าการประชุม -->
    <div class="modal fade" id="meeting-manage-time" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">จัดการข้อมูลการประชุม การเสนอวาระ
                        การเพิ่มผู้เข้าร่วมประชุม</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="confirmDone(); stepper.reset()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">

                                            <mat-stepper headerPosition="top" #stepper>
                                                <mat-step [stepControl]="firstFormGroup" labelPosition="bottom">
                                                    <form [formGroup]="firstFormGroup">
                                                        <ng-template matStepLabel>
                                                            <mat-icon class="custom-icon">account_balance</mat-icon>
                                                            <div style="font-size: 16px">หน่วยงานเข้าร่วมเสนอวาระ</div>
                                                        </ng-template>
                                                        <!-- Form Content -->
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <form class="forms-agency" name="forms-agency">
                                                                    <div class="form-group row">
                                                                        <label for="exampleInputUsername2"
                                                                            class="col-sm-3 col-form-label">เลือกหน่วยงาน</label>
                                                                        <div class="col-sm-7">
                                                                            <select class="form-control"
                                                                                [(ngModel)]="agencys.faculty_code"
                                                                                name="faculty_code">
                                                                                <option *ngFor="let item of FAClist"
                                                                                    value="{{ item.FACULTY_CODE }}">
                                                                                    {{ item.FACULTY_TNAME }}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button type="submit"
                                                                                (click)="addAgency({ code: agencys.faculty_code, name: getFacultyName(agencys.faculty_code) })"
                                                                                class="btn btn-outline-primary">เพิ่ม</button>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                                <div class="row">
                                                                    <h2 class="card-title">
                                                                        หน่วยงานเข้าร่วมเสนอระเบียบวาระ</h2>
                                                                    <ul class="list-group">
                                                                        <li *ngFor="let item of agency_list; let i = index"
                                                                            class="list-group-item d-flex justify-content-between align-items-center">
                                                                            <div>
                                                                                <span
                                                                                    class="badge badge-warning badge-pill">
                                                                                    <strong>{{i+ 1}}</strong>
                                                                                </span>
                                                                                {{item.agency_name}}
                                                                            </div>
                                                                            <div>

                                                                                <button
                                                                                    (click)="removeAgency(item.agency_code, item.meeting_code)"
                                                                                    class="btn btn-danger btn-sm">ลบ</button>
                                                                            </div>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </mat-step>
                                                <mat-step [stepControl]="secondFormGroup" optional
                                                    labelPosition="bottom">
                                                    <form [formGroup]="secondFormGroup">
                                                        <ng-template matStepLabel>
                                                            <mat-icon
                                                                style="width: 32px; height: 32px;">person</mat-icon>
                                                            <!-- <mat-icon style="width: 32px; height: 32px;"><span class="badge badge-info">1</span></mat-icon> -->

                                                            <div style="font-size: 16px">คณะกรรมการพิจารณาวาระ</div>
                                                        </ng-template>
                                                        <!-- Form Content -->
                                                    </form>
                                                </mat-step>
                                                <mat-step [stepControl]="thirdFormGroup" optional
                                                    labelPosition="bottom">
                                                    <form [formGroup]="thirdFormGroup">
                                                        <ng-template matStepLabel>
                                                            <mat-icon style="width: 32px; height: 32px;">home</mat-icon>
                                                            <!-- <mat-icon style="width: 32px; height: 32px;"><span class="badge badge-info">1</span></mat-icon> -->

                                                            <div style="font-size: 16px">พิจารณาวาระ</div>
                                                        </ng-template>
                                                        <!-- Form Content -->
                                                    </form>
                                                </mat-step>
                                                <mat-step [stepControl]="forFormGroup" optional labelPosition="bottom">
                                                    <form [formGroup]="forFormGroup">

                                                        <ng-template matStepLabel>
                                                            <mat-icon
                                                                style="width: 32px; height: 32px;">person</mat-icon>
                                                            <div style="font-size: 16px">ผู้เข้าร่วมประชุม</div>
                                                        </ng-template>
                                                        <!-- Form Content -->
                                                    </form>
                                                </mat-step>
                                                <mat-step labelPosition="bottom">
                                                    <ng-template matStepLabel>
                                                        <mat-icon style="width: 32px; height: 32px;">done_all</mat-icon>
                                                        <div style="font-size: 12px">Done</div>
                                                    </ng-template>
                                                    <!-- Content of the last step -->
                                                </mat-step>
                                            </mat-stepper>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="confirmDone(); stepper.reset()">ปิด</button>
                    <!-- <button type="submit" [disabled]="!regisForm.valid" class="btn btn-primary" data-dismiss="modal"
                        (click)="saveUser(user)">ยืนยันเพิ่มผู้ใช้</button> -->
                </div>

            </div>
        </div>
    </div>

    <!-- open-filedocument -->
    <div class="modal fade" id="open-filedocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">เอกสารคำสั่งในการประชุม</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row mb-3" *ngFor="let item of datafiles; let i = index">
                                                <div class="d-flex topic font-weight-bold">
                                                    <div class="p-2">
                                                        <!-- วาระ -->
                                                        {{ i + 1 }}
                                                    </div>
                                                    <div class="mr-auto p-2">
                                                        <!-- เรื่อง -->
                                                        {{item.meetingdoc_name}}
                                                    </div>
                                                    <div class="p-2">
                                                        <!-- วาระที่เสนอ -->
                                                        <a href="#" (click)="openAnyFile(item.meetingdoc_path)" [href]="open_file"
                                                        target="_blank">
                                                        <span class="badge badge-info">
                                                            เอกสาร</span></a>
                                                    </div>
                
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <!-- <button type="submit" [disabled]="!regisForm.valid" class="btn btn-primary" data-dismiss="modal"
                        (click)="saveUser(user)">ยืนยันเพิ่มผู้ใช้</button> -->
                </div>

            </div>
        </div>
    </div>