<!-- partial -->
<div class="container-fluid page-body-wrapper">

  <div class="content-wrapper">
    <!-- <div class="row mb-4">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h4 class="font-weight-bold">ยินดีตอนรับ RUTS Digital Conference :DCMS</h4>
        <h6 class="font-weight-normal mb-0">{{user_fname}} {{user_lname}}<span class="text-primary">
            {{fac_name}}</span></h6>
      </div>
    </div> -->

    <!-- จัดการการประชุม -->
    <div class="row">
      <div class="col-md-12 grid-margin transparent" *ngIf="user_role == 'F'">
        <div class="row">
          <!-- <div class="col-lg-3 col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <a class="nav-link" [routerLink]="['/meeting-setting']">
                <div class="card-body">
                  <h6 class="mb-4">ตั้งค่าการประชุม</h6>
                  <p class="fs-30 mb-2" [ngClass]="{
                    'circle-1 text-dark': counts.total_meeting >= 1,
                    'circle-0': counts.total_meeting == 0}"><span class="badge font-weight-bold circle__content">
                    {{counts.total_meeting}}</span></p>
                </div>
              </a>
            </div>
          </div> -->
          <div class="col-lg-3 col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <a class="nav-link" [routerLink]="['/meeting-prepare']">
                <div class="card-body">
                  <h6 class="mb-4">ดำเนินการจัดการประชุม</h6>
                  <p class="fs-30 mb-2" [ngClass]="{
                    'circle-1': counts.total_conduct >= 1,
                    'circle-0': counts.total_conduct == 0}">
                    <span class="badge font-weight-bold circle__content">
                      {{counts.total_conduct}}</span>
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <a class="nav-link" [routerLink]="['/agenda']">
                <div class="card-body">
                  <h6 class="mb-4">เสนอวาระการประชุม</h6>
                  <p class="fs-30 mb-2" [ngClass]="{
                    'circle-1': counts.total_agency >= '1',
                    'circle-0': counts.total_agency == 0}">
                    <span class="badge font-weight-bold circle__content">
                      {{counts.total_agency}}
                    </span>
                  </p>
                </div>
              </a>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <a class="nav-link" [routerLink]="['/meeting-save']">
                <div class="card-body">
                  <h6 class="mb-4">บันทึกมติการประชุม</h6>
                  <p class="fs-30 mb-2" [ngClass]="{
                    'circle-1': counts.total_save >= 1,
                    'circle-0': counts.total_save == 0}">
                    <span class="badge font-weight-bold circle__content">
                      {{counts.total_save}}</span>
                  </p>
                  <!-- <p>5.00% (30 days)</p> -->
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-2">
            <h6 class="font-weight-bold">การประชุมที่จะมีขึ้น</h6>
          </div>
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <!-- <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="mdi mdi-calendar"></i> Today (07 Feb 2024)
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                  <a class="dropdown-item" href="#">January - March</a>
                  <a class="dropdown-item" href="#">March - June</a>
                  <a class="dropdown-item" href="#">June - August</a>
                  <a class="dropdown-item" href="#">August - November</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 grid-margin stretch-card">
            <div class="card tale-bg">
              <div class="card-body mt-auto">
                <ul class="icon-data-list">
                  <li *ngFor="let item of meeting_person">
                    <div class="d-flex justify-content-around align-items-center">
                      <div class="p-2">
                        <img src="assets/img/icons8-meeting-64.png" alt="user">
                      </div>

                      <div class="mr-auto p-2">
                        <p class="text-info mb-1">
                          <a href="#" [routerLink]="['/meeting-topic',item.meeting_code,item.open_code]"
                            routerLinkActive="router-link-active">
                            {{item.open_title}} คร้ังที่{{item.meeting_thetime}}
                            <i class="mdi mdi-window-restore"></i>
                          </a>

                        </p>
                        <p class="mb-0">วันที่ {{item.meeting_sdate | thaiDate}} เวลา {{item.meeting_time}} น.
                          <br>
                          <span *ngIf="item.channel_code == '1'">
                            {{item.meeting_location}}
                          </span>
                          <span *ngIf="item.channel_code == '2'">
                            โปรแกรมออนไลน์ {{item.program_name}}
                          </span>
                          <span *ngIf="item.channel_code == '3'">
                            {{item.meeting_location}}<br>
                            และโปรแกรมออนไลน์ {{item.program_name}}
                          </span>
                        </p>
                        <!-- <small>{{item.meeting_time}}</small> -->
                      </div>

                      <!-- <div class="p-2">
                        <a href="" class="m-2">
                          <span class="badge badge-info">เปิด</span>
                        </a>
                        <a href="" class="m-2">
                          <span class="badge badge-info">งาน</span>
                        </a>
                        <a href="" class="m-2">
                          <span class="badge badge-info">รายงาน</span>
                        </a>
                        <a href="" class="m-2">
                          <span class="badge badge-info">รับรอง</span>
                        </a>
                        
                      </div> -->
                    </div>
                    <hr>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5 grid-margin transparent">
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                  <a class="nav-link" [routerLink]="['/home']">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                        <div>
                          <h6 class="mb-4">การประชุมที่จะมีขึ้น</h6>
                        </div>
                        <div class="circle">
                          <p class="fs-30 mb-2" [ngClass]="{
                            'circle-2': total_meeting >= 1,
                            'circle-0': total_meeting == 0}">
                            <span class="badge font-weight-bold circle__content">
                              {{total_meeting}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <a class="nav-link" [routerLink]="['/certify']">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                        <div>
                          <h6 class="mb-4">รับรองรายงานการประชุม</h6>
                        </div>
                        <div class="circle">
                          <p class="fs-30 mb-2" [ngClass]="{
                            'circle-2': total_certify >= 1,
                            'circle-0': total_certify == 0}">
                            <span class="badge font-weight-bold circle__content">
                              {{total_certify}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue">
                  <a class="nav-link" [routerLink]="['/meeting-all']">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                        <div>
                          <h6 class="mb-4">การประชุมทั้งหมด</h6>
                        </div>
                        <div class="circle">
                          <p class="fs-30 mb-2" [ngClass]="{
                            'circle-2': total_meeting_all >= 1,
                            'circle-0': total_meeting_all == 0}">
                            <span class="badge font-weight-bold circle__content">
                              {{total_meeting_all}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                  <a class="nav-link" [routerLink]="['/assigns']">
                    <div class="card-body">
                      <div class="d-flex flex-column">
                        <div class="mb-5">
                          <h6>งานที่ได้รับมอบหมาย</h6>
                        </div>
                        <div class="circle">
                          <p class="fs-30 mb-2" [ngClass]="{
                            'circle-2': total_meeting_assigned >= 1,
                            'circle-0': total_meeting_assigned == 0}">
                            <span class="badge font-weight-bold circle__content">
                              {{total_meeting_assigned}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ประชุมที่ผ่านมา -->
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-2">
            <h6 class="font-weight-bold">การประชุมที่ผ่านมา</h6>
          </div>
          <div class="col-12 col-xl-4">
            <!-- <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="mdi mdi-calendar"></i> Today (07 Feb 2024)
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                  <a class="dropdown-item" href="#">January - March</a>
                  <a class="dropdown-item" href="#">March - June</a>
                  <a class="dropdown-item" href="#">June - August</a>
                  <a class="dropdown-item" href="#">August - November</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card" *ngFor="let item of meeting_person_past">
            <div class="card tale-bg">
              <div class="card-body mt-auto">
                <ul class="icon-data-list">
                  <li>
                    <div class="d-flex justify-content-around align-items-center">
                      <div class="p-2">
                        <img src="assets/img/icons8-meeting-64.png" alt="user">
                      </div>

                      <div class="mr-auto p-2">
                        <p class="text-info mb-1">
                          <a href="#" [routerLink]="['/meeting-topic',item.meeting_code,item.open_code]"
                            routerLinkActive="router-link-active">
                            {{item.open_title}} <i class="mdi mdi-window-restore"></i>

                            <br /> คร้ังที่{{item.meeting_thetime}}
                          </a>
                        </p>
                        <!-- <p class="text-info mb-1">
                          คร้ังที่{{item.meeting_thetime}}
                        </p> -->
                        <p class="mb-0">วันที่ {{item.meeting_sdate | thaiDate}} เวลา {{item.meeting_time}} น.
                          <br>
                          <span *ngIf="item.channel_code == '1'">
                            {{item.meeting_location}}
                          </span>
                          <span *ngIf="item.channel_code == '2'">
                            โปรแกรมออนไลน์ {{item.program_name}}
                          </span>
                          <span *ngIf="item.channel_code == '3'">
                            {{item.meeting_location}}<br>
                            และโปรแกรมออนไลน์ {{item.program_name}}
                          </span>
                        </p>
                        <!-- <small>{{item.meeting_time}}</small> -->
                      </div>
                    </div>
                    <hr>
                  </li>

                </ul>
              </div>
            </div>
          </div>


        </div>

      </div>

    </div>
    <!-- content-wrapper ends -->


  </div>