table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    /* ปรับลดขนาดของ font หรือปรับ margin/padding ตามต้องการ */
    th, td {
        font-size: 12px;
        padding: 6px;
    }
}

.circle {
    position: absolute; top:-3rem; right:-0.5rem;
    
}

.circle-0 {
    display: inline-table;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #bbb;
    border-radius: 50%;
  }

.circle-1 {
    display: inline-table;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #f03f1c;
    border-radius: 50%;
  }

  .circle-2 {
    display: inline-table;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: #f03f1c;
    border-radius: 50%;
  }
  
  .circle__content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .card-alert-1 {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    /* height: 300px;
        width: 250px; */
    background: linear-gradient(#92A8D1, #095198);
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.card-alert-2 {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    /* height: 300px;
        width: 250px; */
    background: linear-gradient(#dee2ea, #2d6781);
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}