<!-- partial -->
<nav class="sidebar sidebar-offcanvas sidebar-color" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
                <i class="mdi mdi-home"></i>
                <span class="menu-title"> หน้าหลัก</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="user_role == 'A'">
            <a class="nav-link" [routerLink]="['/user']" routerLinkActive="router-link-active">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">กำหนดสิทธิ์ผู้ใช้</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="user_role == 'A'">
            <a class="nav-link" data-toggle="collapse" href="#ui-set" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ตั้งค่าระบบ</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-set">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/position']"
                            routerLinkActive="router-link-active">ตำแหน่งในที่ประชุม</a></li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/meeting-type']">ประเภทการจัดประชุม</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/meeting-agenda']">วาระการประชุม</a>
                    </li>
                </ul>
            </div>
        </li>  
        <li class="nav-item" *ngIf="user_role == 'F'">
            <a class="nav-link" [routerLink]="['/outsider']" routerLinkActive="router-link-active">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ผู้ใช้งานภายนอก</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="user_role == 'F'">
            <a class="nav-link" [routerLink]="['/meeting-setting']" routerLinkActive="router-link-active">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">กำหนดชื่อการประชุม</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="user_role == 'F'">
            <a class="nav-link" [routerLink]="['/meeting-manage']" routerLinkActive="router-link-active">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">เตรียมการประชุม</span>
            </a>
        </li>      
        <li class="nav-item" *ngIf="user_role == 'F'">
            <a class="nav-link" [routerLink]="['/meeting-save']" routerLinkActive="router-link-active">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">บันทึกมติการประชุม</span>
            </a>
        </li>
       
        <li class="nav-item" *ngIf="user_role == 'F'">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">รายงานการประชุม</span>
            </a>
        </li>

        <li class="nav-item" *ngIf="user_role != 'F' && user_role != 'A'">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                <i class="mdi mdi-view-agenda"></i>
                <span class="menu-title">การประชุมทั้งหมด</span>
            </a>
        </li>

        <li class="nav-item" *ngIf="user_role != 'F' && user_role != 'A'">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                <i class="mdi mdi-view-agenda"></i>
                <span class="menu-title">งานที่ได้รับมอบหมาย</span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="mdi mdi-file-document"></i>
                <span class="menu-title"> Documentation</span>
            </a>
        </li> -->

        <!-- <li class="nav-item mt-4">
            <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="router-link-active" >
                <i class="mdi mdi-logout-variant"></i>
                <span class="menu-title"> ออกจากระบบ</span>
            </a>
        </li> -->

        <li class="nav-item mt-4">
            <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="router-link-active" >
                <i class="mdi mdi-logout-variant"></i>
                <span class="menu-title"> ออกจากระบบ</span>
            </a>
        </li>
    </ul>
</nav>